<div class="container">
  <h1>Welcome to i-friends!</h1>
  <p>Start browsing through our rentable imaginary friends here: <%= link_to "All i-friends for rent",
</div>                                                                    imaginary_friends_path%></p>
