<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg)">
    Our imaginary friends to rent
  </div>
  <%= render "friends_index", imaginary_friends: @imaginary_friends %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value=<%= ENV['MAPBOX_API_KEY'] %>></div>
