<div class="container">
  <h1>Our imaginary friends to rent</h1>
  <div class="d-flex flex-wrap col-sm-12">
    <% @imaginary_friends.each do |friend| %>
      <div class="card-friend">
        <%# if friend.photo.exist? %>
          <%#= image_tag friend.photo, alt: "Imaginary friend" %>
        <%# else %>
          <%= image_tag 'default_friend', alt: "Imaginary friend" %>
        <%# end %>
        <div class="card-friend-infos">
          <div>
            <h2><%= friend.name %></h2>
            <p><%= friend.description %> </p>
          </div>
          <h2 class="card-friend-pricing"><%= friend.price %> </h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>
