// .page-background {
//   background: rgb(34,251,255);
//   background: linear-gradient(360deg, rgba(34,251,255,0.7861738445378151) 0%, rgba(255,82,253,0.8281906512605042) 35%, rgba(115,255,119,0.8590029761904762) 63%, rgba(255,255,255,1) 100%);

// }
.page-background {
  background: rgb(117,215,13);
  background: linear-gradient(90deg, rgba(117,215,13,1) 0%, rgba(205,21,202,1) 51%,
                                      rgba(0,255,229,1) 100%);
}

.container {
  width: 1200px;
}

.container h1{
  background-color: white;
  color: purple;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  margin: 20px 0px 20px 0px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.container.mb-5 h1 {
  position: sticky;
  top: 80px;
  z-index: 1;
}

.container .text-container{
  border-radius: 20px;
  background-color: white;
}

.white-background-text {
  color: darkblue;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background-color: white;
  margin: 10px 0px 10px 0px;
}
