.btn {
  color: #ffffff;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  margin-top: 15px;
  width: 100%;
  font-weight: 600;
}

.btn:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.rainbow-hover:hover {
  background: rgb(13,215,208);
  background: radial-gradient(circle, rgb(25, 255, 90) 0%, rgba(233,0,255,1) 100%);
  transition: 0.5s ease-in;
  border-radius: 50%;
  padding: 3px 7px 3px 7px;
}

.btn-primary {
  background-image: linear-gradient(#e934c8, #43c469);
  // transition: 1s ease;
}

.btn-primary:hover {
  background-image: linear-gradient(#31ddff, #e934c8);
  transition: 0.5s ease;
  box-shadow: 0px 10px 5px 0px rgb(67, 196, 105);
}

.btn-pink-edit {
  background-color: #b0469d;
}

.btn-pink-edit:hover {
  background-color: #f5b8ea;
  color: #7c216b;
}

.btn-delete {
  background-color: #dc2222;
}

.btn-delete:hover {
  background-color: #f78282;
  color: rgb(98, 6, 6);
}
