.card-friend {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  width: 308px;
  margin: 8px;
  flex-grow: 1;
}

.card-friend > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-top: 8px;
}

.card-friend h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-friend p {
  font-size: 12px;
  margin: 0;
}


.card-friend .card-friend-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-friend-infos .card-friend-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
