.map {                //map class for div in index
  padding-left: 75%;
  padding-bottom: 5%;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
