.card-review {
  overflow: hidden;
  background: white;
  margin-bottom: 16px;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  // border-top: solid 1px lightgray;
}

.review-box {
  padding: 8px;
  padding-left: 0px;
}

@media only screen and (max-width: 767px) {
  .review-box {
    width: 100%;
  }
}
