.card-review {
  border-radius: 5px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  width: 100%;
  margin: 8px;
}

.review-box {
  padding: 8px;
}

@media only screen and (max-width: 767px) {
  .review-box {
    width: 100%;
  }
}
