.approval-tag {
  color: white;
  padding: 3px;
  margin-top: 5px;
  border-radius: 999px;
  text-align: center;
}

.approved {
  background-color: rgb(15, 186, 43);
}

.denied {
  background-color: rgb(225, 26, 26);
}

.pending {
  background-color: rgb(195, 104, 0);
}

.special-ability-tag {
  border-radius: 999px;
  background-color: rgb(173, 48, 171);
  color: white;
  text-align: center;
  padding: 0px 8px 0px 8px;
  margin-top: 10px;
}
